body {
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Sacramento', cursive;
}

h1 {
    background-color: aqua;
}

a {
    background-color: coral;
}

.MC .title {
    color: darkgreen;
    
}